@import 'jquery.fullPage';
@import 'mixin';
@import 'animate';

$orange: #ea8853;
$grey1: #999;
$grey2: #222;

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html, body{
  padding: 0;
  margin: 0;
  position: relative;
}

.section{
	display: block;
	position: relative;
}

/* HOME */

.section_home{
	background: url('../img/fond_home.jpg') no-repeat center center;
	div{
		display: block;
		position: relative;
		height: 100%;
		opacity: 0.6;
		h1{
			font-family: 'oswald', sans-serif;
			font-weight: 700;
			font-size: 25vw;
			text-transform: uppercase;
			color: black;
			padding: 0;
			margin: 0 auto;
			text-align: center;
		}
		p{
			text-align: center;
			font-family: 'oswald', sans-serif;
			font-weight: 400;
			font-size: 5vw;
			color: white;
			padding: 0;
			margin: 25px 0 0 0;
		}
		span .line_up,.line_down{
			display: block;
			position: relative;
			width: 100%;
			height: 5px;
			overflow: hidden;
			background-color: white;
			
		}
	}
}

@keyframes fill-1 {
  0%   { height: 100%; }
  100%  { height: 0%;   }
}


/* SKILLS */

.section_skills{
	position: relative;
	.container_skills{
		width: 100%;
		height: 100%;
		position: relative;
		.content_skills{
			position: relative;
			display: block;
			float: left;
			width:100%;
			margin: 0;
			padding: 0;
			&:first-child{
				height: 70%;
				.profile{
					text-align: left;
					width: 80%;
					padding: 0 10%;
					.drapeau{
						width: 40%;
						height: 5px;
						
					}
					.black,.jaune,.rouge{
							display: inline-block;
							height: 100%;
							width: 20%;
							margin: 0 0 25px 0;padding: 0;
						}
						.black{
							background-color: black;
						}
						.jaune{
							background-color: yellow;
						}
						.rouge{
							background-color: red;
						}

					h1,h2{
						font-family: 'oswald', sans-serif;
						text-transform: uppercase;
						padding: 0;margin: 0;
					}
					h1{

						font-size: 5vw;
						font-weight: 400;
					}
					h2{
						font-size: 3vw;
						color: $orange;
						font-weight: 300;
					}
					p{
						margin: 2vw auto;
						font-family: 'oswald', sans-serif;
						font-weight: 300;
						font-size: 2.5vw;
					}
				}
			}
			&:nth-child(2){
				height: 30%;
				.skills{
					position: relative;
					width: 90%;
					height: 100%;
					span{
						display: none;
					}
					
					.skills_div{
						position: relative;
						display: inline-block;
						width: 32%;
						height: 60px;
					}
					#rectangle{
						margin-top: 25px;
					}
				}
			}
		}
	}
}

/* EXPERIENCE */

.section_experience{
	position: relative;
	z-index: 5;
	overflow: hidden;
			.experience_article{
				height: 100%;
				width: 100%;
				position: relative;
				margin: 0;padding: 0;
				&:first-child{
					background: url('../img/stluc.jpg') no-repeat 0 top;
					background-size: auto 100%;
				}
				&:nth-child(2){
					background: url('../img/office1.jpg') no-repeat 0 top;
					background-size: auto 100%;
				}
				&:nth-child(3){
					background: url('../img/ordinateur.jpg') no-repeat 0 top;
					background-size: auto 100%;
				}
				&:nth-child(4){
					background: url('../img/workalone.jpg') no-repeat 0 top;
					background-size: auto 100%;
				}
				.container{
					width: 100%;
					height: 100%;
					.content{
					width: 75%;
					height: 100%;
					padding: 5% 10% 5% 10%;
					margin: 0;
					background-color: rgba(255, 255, 255, 0.8);
						.txt_top{
							width:100%;
							height: 5%;
							h1,h2,h3,h4{
								display: inline-block;
							}
							.right{
								float: right;
							}
							.left{
								float: left;
							}
							h4{
								font-family: 'oswald', sans-serif;
								font-weight: 400;
								text-transform: uppercase;
								font-size: 3vw;
								margin: 0;
								color: $orange;
							}
							h2{
								font-family: 'oswald', sans-serif;
								font-weight: 700;
								font-size: 3vw;
								margin: 0;
								color: $grey2;
							}
						}
						.txt_middle{
							display: block;
							position: relative;
							width: 100%;
							height: 95%;
							h1{
								font-family: 'oswald', sans-serif;
								font-weight: 700;
								font-size: 3.5vw;
								text-transform: uppercase;
								padding: 10px 0 0 0;
								margin: 0;
							}
							p,li{
								font-family: 'oswald', sans-serif;
								font-weight: 300;
								font-size: 2.5vw;
								list-style-type:square;
							}
							ul{
								padding-left: 20px;
							}
							span.line{
								display: block;
								width: 25%;
								height: 5px;
								background-color: $orange;
								margin: 10px 0 25px 0;
							}
							a{
								float: left;
							}
						}
						.img_vid{
							display: none;
						}
					}
					
					
			}
		}
}

/* CONTACT */

.section_contact{
	.container_contact{
		position: relative;
		width: 100%;
		height: 100%;
		.content_contact{
			height: 100%;
			width: 100%;
			div.content_map{
				width: 100%;
				height: 100%;
				.map{
						position: relative;
						width: 100%;
						height: 60%;
						background-color: white;
				}
			}
			.contact_txt{
					background-color: white;
					position: relative;
					width: 100%;
					height: 40%;
					padding: 10% ;
					h1{
						font-family: 'oswald', sans-serif;
						font-weight: 700;
						font-size: 4vw;
						margin: 0;padding: 0;
					}
					h3{
						font-family: 'oswald', sans-serif;
						font-weight: 400;
						font-size: 3vw;
						color: $orange;
						margin: 0 0 7.5% 0;padding: 0;
					}
					div{
						display: block;
						width: 100%;	
						margin: 2% 0;

					}
					span{
						display: inline-block;
						text-align: center;
						height: 25px;
						width: 25px;
						
					}
					.tel{
							background: url('../img/spriteadbweb.png') no-repeat 0 top;
							background-position: 0 98%;
						}
						.mail{
							background: url('../img/spriteadbweb.png') no-repeat 0 top;
							background-position: 6.5% 98%;
						}
						.locality{
							background: url('../img/spriteadbweb.png') no-repeat 0 top;
							background-position: 13% 98.5%;
						}
					p{
						display: inline-block;
						font-family: 'oswald', sans-serif;
						font-weight: 300;
						font-size: 3vw;
						margin: 0 0 0 2%;
					}
			}
		}
	}
}

@import 'normalscreen';
@import 'tablet';