@media screen and (max-width:480px) {
    .contact,.home{
    	background-size: auto 100% !important;
    }
    .home{
    	h1{
			font-size: 45vw !important;
		}
		p{
			font-size: 4vw !important;
		}
	}
	.contact{
		div{
			width: 75% !important;
			h1{
				font-size: 7vw !important;
			}
			input,textarea{
				width: 100% !important;
			}
		}
	}
}